# This notebook's aim is to transform the pre-processed documents into vectors and do a supervised analysis

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/Jeremynadal33/categorize_question_API/blob/master/supervised_approach.ipynb)


## Here, are compared supervised methods : 
## We will compare the results for two different vectorization methods : Bag of Word and Tfidf
First, import the relevant libraries :

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import os
import re
import time

## My script : 
from function import *

In [14]:
# Specific libraries : 
import nltk
from sklearn.feature_extraction.text import CountVectorizer # BoW
from sklearn.feature_extraction.text import TfidfVectorizer # Tfidf


from sklearn.metrics import f1_score,precision_score,recall_score

from sklearn.multiclass import OneVsRestClassifier

from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [3]:
root_dir = '/Users/jeremynadal/Documents/Formation OC IML/P5-API/'
input_dir = root_dir + 'inputs/'
png_dir = root_dir + 'pngs/'

In [4]:
data = pd.read_csv(input_dir+'processed_dataset.csv')

print(data.shape)
print(data.dtypes)
data.head()

(39409, 3)
Tags              object
processed_text    object
nb_tags            int64
dtype: object

             Tags                                     processed_text  nb_tags
0          ['c#']  ['convert', 'double', 'c#', 'convert', 'double...        1
1  ['c#', '.net']  ['c#', 'calculate', 'someone', 'age', 'base', ...        2
2          ['c#']  ['calculate', 'time', 'c#', 'calculate', 'time...        1
3        ['html']  ['determine', 'user', 'timezone', 'determine',...        1
4        ['.net']  ['difference', 'mathfloor', 'mathtruncate', 'd...        1

In [5]:
def reforme_tags_processed_text(data):
    tags = []
    processed_text = []
    for indx in range(data.shape[0]):
        new_tags = []
        new_processed = []
        
        split = data['Tags'][indx].split(',')
        for nb_tags in range(data['nb_tags'][indx]):    
            to_append = re.sub('[\[\]\'\"!*+-]','',split[nb_tags]).replace('\\','').replace(' ','')
            if not to_append in ['',' '] : new_tags.append(to_append)
        tags.append(new_tags)
        
        text = data['processed_text'][indx].split(',')
        for i in range(len(text)):
            to_append = re.sub('[\[\]\'\"!*+-:.]','',text[i]).replace('\\','').replace(' ','')
            if not to_append in ['',' '] : new_processed.append(to_append)
        processed_text.append(new_processed)
        
    data['Tags'] = tags
    data['processed_text'] = processed_text
    return data

In [6]:
data = reforme_tags_processed_text(data)
data.head()

         Tags                                     processed_text  nb_tags
0        [c#]  [convert, double, c#, convert, double, c#, wan...        1
1  [c#, .net]  [c#, calculate, someone, age, base, datetime, ...        2
2        [c#]  [calculate, time, c#, calculate, time, c#, giv...        1
3      [html]  [determine, user, timezone, determine, user, t...        1
4      [.net]  [difference, mathfloor, mathtruncate, differen...        1

In [7]:
def get_all_tags(tags):
    res = []
    for i in range(len(tags)):
        for j in range(len(tags[i])):
            res.append(tags[i][j])
            
    return pd.Series(res)

tags = get_all_tags(data['Tags'])

In [8]:
unique_tags = np.unique(tags)

In [9]:
for tag in unique_tags : 
    data[tag] = 0

In [10]:
for idx in data.index:
    for id_tag in range(data['nb_tags'][idx]):
        data[data['Tags'][idx][id_tag]][idx] = 1

/Users/jeremynadal/anaconda3/envs/fieldbox/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [12]:
data.head()

,Tags,processed_text,nb_tags,.net,android,arrays,asp.net,bash,c,c#,...,linux,mysql,objectivec,php,python,regex,sql,sqlserver,string,windows
0,[c#],"[convert, double, c#, convert, double, c#, wan...",1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,"[c#, .net]","[c#, calculate, someone, age, base, datetime, ...",2,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,[c#],"[calculate, time, c#, calculate, time, c#, giv...",1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,[html],"[determine, user, timezone, determine, user, t...",1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,[.net],"[difference, mathfloor, mathtruncate, differen...",1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## Lets separate the data into train and test for both bow and tfidf

In [16]:
bow_vectorizer = CountVectorizer(tokenizer = lambda x: x,
                                 preprocessor = lambda x: x,
                                 lowercase = False,
                                 max_features = 1000,
                                 binary = True,
                                 max_df = 0.9
                                 )  
bow_X = bow_vectorizer.fit_transform(data['processed_text'])
print(len(bow_vectorizer.get_feature_names()))
#print(bow_vectorizer.get_feature_names())

print(bow_X.toarray().shape)

1000
(39409, 1000)

In [ ]:
 X_train_bow, X_test_bow, y_train_bow, y_test_bow = train_test_split(bow_X.toarray(), y, test_size=0.33, random_state=42)

In [33]:
from sklearn.utils import shuffle
X, y1 = make_classification(n_samples=10, n_features=100, n_informative=30, n_classes=3, random_state=1)
y2 = shuffle(y1, random_state=1)
y3 = shuffle(y1, random_state=2)
Y = np.vstack((y1, y2, y3)).T

NameError: name 'make_classification' is not defined